@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.primaryColorButton {
  @apply text-white rounded bg-primaryColor pl-8 pr-8 pt-2 pb-2 hover:bg-black;
}

.primaryColorButtonNoPadding {
  @apply text-white rounded bg-primaryColor  hover:bg-black;
}

.whiteToPrimaryColorButton {
  @apply text-black rounded bg-white  hover:bg-primaryColor hover:text-white;
}

.categorybar {
  @apply pl-6 pr-6 pt-4 pb-4 border-gray-200 hover:text-primaryColor border;
}

.image-magnifier {
  .image-magnifier__zoomed {
    display: block;
    position: absolute;
    background-size: 400px; /* Adjust the size as needed */
    width: 400px; /* Adjust the size as needed */
    height: 400px; /* Adjust the size as needed */
    border: 1px solid #ccc; /* Optional: Add a border for the zoomed image */
    z-index: 1;
  }
}
